<link rel="stylesheet" href="./login/bootstrap-login.css">
<script type="text/javascript" src="./login/bootstrap-login.js"></script>

<div class="jumbotron">
  <div class="row visible-on">
    <div class="col-sm-6 hidden-xs pull-right">
      <div data-toggle="login" data-title="" data-action="/login">
      	
      </div><!-- /login -->
    </div><!-- /col right -->
    <div class="col-xs-12 col-sm-6 text-center pull-left">

      <span class="visible-xs">
       	<button type="button" class="btn btn-primary btn-circle btn-xl" data-toggle="modal" data-target="#loginModal"><i class="glyphicon glyphicon-user"></i></button>
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
              	<button type="button" class="close btn btn-warning btn-circle btn-md" data-dismiss="modal" aria-hidden="false"><i class="glyphicon glyphicon-remove"></i></button>
              	<br>
                <div data-toggle="login" data-title="" data-action="/login">
                	
                </div><!-- /login -->
              </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <br>
      </span>
      <img src="/images/car2go.svg" width="75%">
    </div><!-- /col left -->
  </div><!-- /row -->
</div><!-- /jumbotron -->