<style>
.panel-heading {
font-size: 18px;
}
.panel-body {
font-size: 12px;
}
</style>

<div id="list">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=chart&view=weekdays&group=false">星期使用统计</a>
            </div>
            <div class="panel-body">
                <a >车被租用总天数按周内各天分布</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=chart&view=monthdays&group=false">月使用统计</a>
            </div>
            <div class="panel-body">
                <a >车被租用总天数按月分布</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=chart&view=cardays&group=true">车使用统计</a>
            </div>
            <div class="panel-body">
                <a >车被租用总天数按车号分布</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=chart&view=clientdays&group=true">客户使用统计</a>
            </div>
            <div class="panel-body">
                <a >车被租用总天数按客户分布</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=table&view=cardays&group=true">每月车使用时间</a>
            </div>
            <div class="panel-body">
                <a >各车每月被租用天数明细表</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=table&view=cartimes&group=true">每月车使用次数</a>
            </div>
            <div class="panel-body">
                <a >各车每月被租用次数明细表</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=table&view=clientdays&group=true">每月客户使用时间</a>
            </div>
            <div class="panel-body">
                <a >各客户每月租车天数明细表</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=table&view=clienttimes&group=true">每月客户使用次数</a>
            </div>
            <div class="panel-body">
                <a >各客户每月租车次数明细表</a>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="/show?object=table&view=24h&group=false">24小时使用分布图</a>
            </div>
            <div class="panel-body">
                <a >每天每车24小时使用分布明细表</a>
            </div>
        </div>
    </div>
</div>