<link rel="stylesheet" type="text/css" href="/datatables/plug-ins/bootstrap/dataTables.bootstrap.css">
<table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%" data-url="<%= apiurl %>"></table>
<script type="text/javascript" language="javascript" src="/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="/datatables/plug-ins/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/table.js"></script>